@CHARSET "UTF-8";

body {
	font-family: Ariel, sans-serif;
}
table {
    border-collapse: collapse;
}

h1,h2,h3{
	text-align:left;	
}
input[type="text"]
{
    font-size:12px;
}
button, input[type=button], input[type=submit] {
    background-color: #A4A4A4;
    border: none;
    font-size: 1.1em;
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover, input[type=button]:hover, input[type=submit]:hover{
	background-color: #585858;
	color: white;
}

.footer-buttons {
	margin : auto 0;
	text-align:center;	
}
form {
	/*text-align : left;
	margin: auto 0;
	display: inline-block;*/
	
}
form.inline {
	display: inline-block;
}
.error,.error-head {color: #FF0000;}

.nav{
    list-style:none;
    margin:0;
    padding:0;
    overflow: hidden;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color: #111;
}
.nav-pills > li > a {
	color:black;
}
.container{
	
}
.formrow{
	
}
.pageBody{
	background-color:#F5FFFA;
}
.pageFooter{
	background-color:#BOEOE6;
}
.logouttab{
	float:right;
}
.asteriskField{
	color:red;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.4285;
}
.btn-primary{
	color:#fff;
	background-color:#3eb495;
}
.loginform,.customerform{
	text-align:center;
}
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{
	font-family: Arial, Helvetica, sans-serif; 
	color: black
}
.bootstrap-iso form button, .bootstrap-iso form button:hover{
	color: white !important;
} 